body {
    color-scheme: calc();
    background-color:pink;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0)
}

h2 {
    text-align: center;
}
 h3 {
    text-align: center;
 }

 h4 {

text-align: center;
 }

 p {
    text-align: center;
 }

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
 }

 .produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1,5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #0000;
    border-radius: 10px;
 }
 .produtos h2 {
    font-size: 30px;
    font-weight: bold;
 }

 .produtos-descriçao {
    font-size: 18px;
 }

 .produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }

 nav a:hover {
    color: orange;
    text-decoration: underline;
 }

.produtos li:active {
    border-color: blue;
}

.produtos li:hover h2 {
    font-size: 34px;
}
