body {
    color-scheme: calc();
    background-color:pink;
}

h1{
    text-align: center;
    color: rgb(90, 16, 62)
}

h2 {
    text-align: center;
}
 h3 {
    text-align: center;
 }

 h4 {

text-align: center;
 }

 p {
    text-align: center;
 }